<ion-view>
  <ion-content>
    <div class='wrapper'>
      <h1>About</h1>
      <p>Are you a broodmare searching for your perfect sire? Look no further with Studmate--the first mobile app for locating stallions that are DTM (down to mate). Our Tinder-esque platform makes browsing your next match easier than ever. You're next foal is just a "yay"or a "neigh" away!</p>

      <p>Studmate is still in it's beta stage and is not currently available for download. See it in action below. Interested in learning more about Studmate? Contact Claire at <a href="mailto:claire@clairelyles.com">claire@clairelyles.com</a></p>

    </div>
  </ion-content>
</ion-view>
