<ion-view>
  <ion-content>
    <div class='wrapper'>
      <h1>About</h1>
      <p>Bacon ipsum dolor amet boudin salami filet mignon beef chicken ball tip, short ribs meatball landjaeger. Alcatra filet mignon leberkas swine shank ribeye venison. Pork belly shankle chicken, ball tip pork boudin hamburger turducken flank capicola swine shank. Ground round tri-tip jerky short loin tenderloin andouille cupim short ribs pork belly meatball kielbasa filet mignon pork chop t-bone kevin. Bacon jowl ball tip tri-tip kevin biltong sirloin venison rump shoulder.</p>

      <p>Doner biltong brisket sirloin corned beef leberkas flank beef ribs. Strip steak pork belly bresaola sausage, chicken fatback cupim ribeye swine filet mignon meatball pork loin. Jowl sirloin pork chop biltong. Alcatra ball tip bacon, short ribs rump chicken pig fatback kevin spare ribs. Ham landjaeger pig shankle filet mignon.</p>
    </div>
  </ion-content>
</ion-view>
