<ion-view view-title="StudMate" no-scroll>

  <ion-content>
    <div class="wrapper">
    <h3>Swipe Direction: {{taco}}</h3>
      <td-cards ng-if="loaded">
        <td-card ng-repeat="card in cards" on-destroy="cardDestroyed(card.id, taco)" on-drag-left="cardSwipedLeft(card.id)" on-drag-right="cardSwipedRight(card.id)" on-partial-swipe="cardPartialSwipe(amt)" class="card-{{$index}}" no-scroll>
          <div class="image" ng-controller="CardCtrl">
            <div class="yes-text">YAY</div>
            <div class="no-text">NEIGH</div>
            <img ng-src="{{card.picture || card.image}}">
          </div>
        </td-card>
      </td-cards>
    </div>
  </ion-content>
</ion-view>
