<ion-view  no-scroll>
  <ion-content>
    <div class="header">
      <div class="header-content padding-top padding-top">
        <div class="row">
          <div class="col col col-offset-20">
            <h1>Are You DTM?</h1>
          </div>
        </div>
        <div class="row">
          <div class="col col">
            <img src="/img/studmate_logo_big.png" class="logo-big">
          </div>
        </div>
      </div>
    </div>
    <br><br>
    <div class="wrapper">
      <button ng-hide="currentUser" class="button button-block button-outline button-assertive" ng-click="openLogin()">
        Login
      </button>
      <button ng-hide="currentUser" class="button button-block button-outline button-assertive" ng-click="openSignup()">
        Signup
      </button>
    </div>
  </ion-content>
</ion-view>