<ion-view hide-back-button="true">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="userData in userData" href="#/">
        <div class="row">
          <div class="col col-25">
            <img src="{{userData.picture}}" class="matches_image">
          </div>
          <div class="col col-50 name">{{userData.name}}</div>
          <div class="col contact"> <span class="badge badge-assertive">Contact</span></div>
        </div>
      </ion-item>
      <!-- {{userData}} -->
    </ion-list>
  </ion-content>
</ion-view>
