<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Signup</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeSignup()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doSignup()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">First Name</span>
          <input type="text" ng-model="loginData.firstName">
        </label>
        <label class="item item-input">
          <span class="input-label">Last Name</span>
          <input type="text" ng-model="loginData.lastname">
        </label>
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" ng-model="loginData.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Zip</span>
          <input type="text" ng-model="loginData.zip">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item item-input">
          <span class="input-label">Password Confirmation</span>
          <input type="password" ng-model="loginData.passwordConfirmation">
        </label>
        <label class="item">
          <button class="button button-block button-block button-outline button-calm" type="submit">Sign Up</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
